<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.chese">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="edu.aku.hassannaqvi.chese.core.MainApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/app_icon"
        android:immersive="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CHESE"
        android:usesCleartextTraffic="true">


        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.splashscreen"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="edu.aku.hassannaqvi.chese.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.sections.SectionIdentificationActivity"
            android:label="@string/hfinfo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.sections.SectionAActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.sections.SectionWSG5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.sections.SectionVHC3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.sections.SectionWSG2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.sections.SectionWSG3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.sections.SectionWSG41Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.sections.SectionWSG42Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.sections.SectionVHC2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.sections.SectionVHC4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.EndingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.English"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.SyncActivity"
            android:label="Download and Upload Data Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.core.AndroidManager"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Holo.Light.DarkActionBar" />

        <activity
            android:name="edu.aku.hassannaqvi.chese.ui.TakePhoto"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />


    </application>

</manifest>